* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

*:focus {
  outline: none;
  border-bottom: 2px solid var(--darker-blue);
}

:root {
  --default-border-radius: 24px;
  --darker-blue: #0a3871;
  --darker-blue-hover: #062447;
  --gray: #d8dfe8;
  --gray-hover: #a2a9b3;
  --darker-gray: #495057;
  --white: #fff;
  --pale-blue: #f3f5fc;
  --black: #0f0f0f;
}

/* Classes generalistas para o layout */

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 3rem 0;
  display: flex;
  gap: 2rem;
  min-height: 100vh;
}

.hide {
  display: none !important;
}

/* Estilo da página */

body {
  background-color: var(--pale-blue);
}

nav {
  padding: 2rem;
}

main {
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  gap: 1rem;
}

textarea {
  background-color: transparent;
  border: 0;
  resize: none;
  width: 100%;
  height: calc(100vh - 21.25rem);
  font-size: 2rem;
  font-family: "Inter", sans-serif;
  line-height: 2.5rem;
  color: var(--darker-blue);
}

.observacao {
  font-size: 0.75rem;
  display: flex;
  gap: 0.5rem;
  color: #495057;
}

.buttonWrapper {
  display: flex;
  gap: 2rem;
}

.botao {
  border-radius: 24px;
  font-size: 1rem;
  padding: 1.5rem;
  width: 100%;
  border: 1px solid var(--darker-blue);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.botao-criptografar {
  background-color: var(--darker-blue);
  color: var(--white);
}

.botao-criptografar:hover {
  background-color: var(--darker-blue-hover);
}

.botao-descriptografar {
  color: var(--darker-blue);
  background-color: var(--gray);
}

.botao-descriptografar:hover {
  background-color: var(--gray-hover);
  color: var(--white);
}

.botao-copiar {
  background-color: var(--white);
  color: var(--darker-blue);
}

.botao-copiar:hover {
  background-color: var(--darker-blue);
  color: var(--white);
}

aside {
  background-color: #fff;
  border-radius: var(--default-border-radius);
  padding: 2rem;
  width: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.nadaEncontrado {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: var(--darker-gray);
}

.nadaEncontrado img {
  width: 100%;
}

.nadaEncontrado h2 {
  font-size: 1.25rem;
}

.mostrarMensagemTrabalhada {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.mensagemTrabalhada {
  font-size: 1.25rem;
  line-height: 2.25rem;
  color: var(--darker-gray);
  flex: 1;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 2rem;
  }

  main {
    padding-top: 2rem;
    flex: 0;
  }

  textarea{
    height: calc(100vh - 35rem)
  }

  aside {
    width: 100%;
  }

  aside img {
    display: none;
  }

  aside p{
    margin-bottom: 2rem;
    word-break: break-all;
  }
}

@media screen and (max-width: 480px){
  .buttonWrapper{
    flex-direction: column;
    gap:1.25rem;
  }

  textarea{
    margin-bottom: 2rem;
  }

  aside p{
    word-break: break-all;
  }
}
